.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.v-center {
  align-items: center;
}
.flex.h-center {
  justify-content: center;
}
.flex.between {
  justify-content: space-between;
}
.flex.flex-start {
  justify-content: flex-start;
}
.flex.flex-end {
  justify-content: flex-end;
}
.flex.center-center {
  justify-content: center;
  align-items: center;
}